<div class="container">
    <div class="row">
    <div class="col">
        <ul>
            {{#each burgers}}
                    {{#unless devoured}}
                    <li>{{burger_name}} <button data-id={{id}} class="devour_btn"> Devour </button></li>
                    {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col">
            {{#each burgers}}
                {{#if devoured}}
                <li>{{burger_name}}</li>
                {{/if}}
            {{/each}}
    </div>
    </div>
</div>